.about-part{
    background: var(--background-color);
    padding-top: 100px;
    padding-bottom: 100px;

    .container{
        max-width: 1440px;        
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;

        .rows{
            display: flex;
            align-items: center;

            .row1{
                padding-right: 15px;
                padding-left: 15px;
                width: 50%;                

                .heading{
                    color: var(--title-color);
                    margin-bottom: 36px;
                    font-family: "Inter";
                    font-style: normal;                    
                    text-align: center;
                    font-size: 48px;
                    line-height: 65px;
                    font-weight: 600;
                }

                .info{
                    color: var(--text-color);
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 400;
                    font-family: "Inter", sans-serif;
                }
            }

            .row2{                
                padding-right: 15px;
                padding-left: 15px;
                width: 50%;                

                .items-container{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr); 
                    gap: 30px;                  

                    .part-item{                                                                    
                        padding: 30px 20px;                        
                        background: var(--background-color2);
                        border-radius: 10px;
                        display: flex;
                        flex-shrink: 0;
                        flex-direction: column;
                        align-items: center;                        
                        border: 1px solid var(--background-border-block);
                        box-shadow: var(--box-shadow-cart);

                        .img-wrapper{
                            margin-bottom: 15px;
                        }

                        .content-wrapper{
                            text-align: center;

                            .content-title{
                                margin-bottom: 10px;
                                font-weight: 600;
                                font-family: "Inter";
                                font-style: normal;
                                font-size: 19px;
                                line-height: 23px;
                                color: var(--title-color);
                            }

                            .content-subtitl{
                                font-family: "Inter";
                                font-style: normal;
                                color: #545766;                                
                                font-size: 18px;
                                line-height: 24px;  
                                font-weight: 400;                              
                            }
                        }
                    }
                }

                .part-item:nth-child(n + 3):nth-child(-n + 4) {
                    margin-left: 0px;
                }
            }

            @media screen and (max-width: 991px){
                .row1{
                    margin-bottom: 30px;
                    width: 100%;
                }  
            }

            @media screen and (max-width: 991px){
                .row2{
                    width: 80%;
                }  
            }
        }

        @media screen and (max-width: 991px){
            .rows{
                flex-direction: column;
            }  
        }
    }
}