.contact-part{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--background-color);

    .container{
        max-width: 1440px;        
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;

        .row{
            display: flex;            
            flex-wrap: wrap;           
            
            .contact-part-wrapper{
                padding: 48px 60px;
                display: flex;
                margin: auto;
                width: min(1272px, 100%);
                justify-content: space-between;
                background: url(../assets/contact-bg.svg) no-repeat, #3671E9;
                border-radius: 16px;
                align-items: center;                

                .contact-part-left{
                    .contact-part-title{
                        color: #fff;
                        margin-bottom: 17px;                        
                        font-weight: 500;
                        font-size: 39px;
                        line-height: 47px;
                        font-family: "Inter";
                        font-style: normal;
                    }   
                    
                    @media screen and (max-width: 576px) {
                        .contact-part-subtitle {
                            margin: 0;
                        }  
                    }

                    .contact-part-subtitle{
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #fff;
                        font-family: "Inter", sans-serif;
                    }

                    @media screen and (max-width: 991px) {
                        .contact-part-subtitle {
                            font-size: 16px;
                            line-height: 22px;
                        }  
                    }

                    @media screen and (max-width: 768px) {
                        .contact-part-subtitle {
                            font-size: 14px;
                            line-height: 20px;
                        }  
                    }
                } 
                
                @media screen and (max-width: 991px) {
                    .contact-part-left {
                        margin-bottom: 30px;          
                    }  
                }

                @media screen and (max-width: 576px) {
                    .contact-part-left {
                        margin-bottom: -30px;  
                        margin-top: -30px;         
                    }  
                }

                .contact-part-right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;                    

                    form{
                        display: flex;

                        .contact-part-field{                        
                            background: none;
                            border: none;
                            border-bottom: 1px solid #fff;
                            color: #fff;
                            margin-right: 43px;
                            width: 397px;   
                            font-family: "Inter", sans-serif;
                            font-size: 18px;
                            line-height: 24px;
                            font-weight: 500;   
                            padding: 20px 0;      
                            outline: none;     
                            
                            &::placeholder { 
                                color: #fff; 
                            }
                        
                        }

                        @media screen and (max-width: 576px) {
                            .contact-part-field {
                                height: 26px;
                                padding: 0;
                            }  
                        }

                        @media screen and (max-width: 768px) {
                            .contact-part-field {
                                width: auto;
                            }  
                        }

                        @media screen and (max-width: 576px) {
                            .contact-part-field {
                                margin: 0;
                            }  
                        }

                        .contact-part-button{
                            background-color: #fff;
                            padding: 19px 40px;
                            border-radius: 32px;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 24px;
                            color: #0D0D2B;
                            border: 1px solid #fff;
                            transition: .3s background-color;
                            cursor: pointer;

                            &:hover{
                                background: transparent;
                            }
                        }

                        @media screen and (max-width: 768px) {
                            .contact-part-button {
                                padding: 10px 20px;
                            }  
                        }
                    }   
                    
                    @media screen and (max-width: 768px) {
                        form {
                           height: 46px;                           
                        }  
                    }

                    @media screen and (max-width: 576px) {
                        form {
                           flex-direction: column; 
                           gap: 20px;                         
                        }  
                    }
                }                

                @media screen and (max-width: 991px) {
                    .contact-part-right {
                        width: 100%;                               
                    }  
                }
            }

            @media screen and (max-width: 991px) {
                .contact-part-wrapper {
                    flex-wrap: wrap;
                    text-align: center;  
                    justify-content: center;                                     
                }  
            }

            @media screen and (max-width: 576px) {
                .contact-part-wrapper {
                    padding: 15px;  
                    height: 300px;                                  
                }  
            }
        }       
    }
}