.exchange{
    background-image: url(../assets/exchange.png);  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    width: 100%;
    height: calc(100vh - 124px); 
    margin-top: 124px;   
    z-index: -100; 
    
    &::before {        
        content: "";        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 124px;
        height: calc(100vh - 124px);
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: 1; 
    }

    .conatainer{        
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 124px);
        

        .exchange-section{                
            z-index: 1;       

            .title{
                color: #fff;
                font-size: 50px;
                font-weight: 600;
                line-height: 1.5;
            }

            .text{
                margin: 17px 0;
                color: #fff;
                display: block;
                font-size: 20px;
                font-weight: 400;
                word-spacing: 2px;
            }

            .coin-exchange{      
                display: flex;          
                text-align: center;
                margin: 40px 0;

                input{
                    background: #121318;
                    border: none; 
                    outline: none;
                    color: #545766;
                    font-size: 15px;
                    font-weight: 600;
                    padding: 15px;                    
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    appearance: none;
                }

                .dropdown {
                    position: relative;  
                    background: #121318;                                      
                  
                    .select {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;                      
                      padding: 10px;
                      border: none;
                      cursor: pointer;
                  
                      .selected {
                        display: flex;
                        align-items: center;
                  
                        i {
                          width: 25px;
                          height: 25px;
                        }
                        
                        .icon-btc{
                            background: url(../assets/btc.svg) no-repeat;
                        }                       

                        b {
                          margin-left: 10px; 
                        }
                      }
                  
                      .caret {
                        
                      }
                    }
                  
                    .menu {
                      position: absolute;
                      top: 100%;
                      left: 0;
                      width: 100%;
                      background-color: #fff;
                      border: 1px solid #ccc;
                      list-style: none;
                      padding: 0;
                      display: none;
                  
                      li {
                        padding: 10px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                  
                        &:hover {
                          background-color: #f1f1f1; 
                        }
                  
                        i {
                          width: 20px; 
                          height: 20px; 
                          margin-right: 10px; 
                          
                        }
                        
                        .icon-btc{
                            background: url(../assets/btc.svg) no-repeat;
                        }     

                        .icon-eth{
                            background: url(../assets/eth.svg) no-repeat;
                        }

                        .icon-bch{
                            background: url(../assets/bch.svg) no-repeat;
                        }

                        b {
                          
                        }
                      }
                    }                  
                    
                    &.active .menu {
                      display: block;
                    }
                  }
                
                .equal{            
                    font-size: 45px;
                    font-weight: 400;
                    margin: 0 10px;
                    color: #545766;
                    align-items: center;
                }                
            }

            .conduct-exchange{               
                padding: 20px 40px;                      
                border: 1px solid transparent;                     
                background-color: #5367FF;
                color: #fff;        
                cursor: pointer;
                font-size: 15px;
                line-height: 20px;
                font-weight: 400;
                font-family: Inter;
                font-style: normal;
                transition:  transform 0.7s ease;  
                text-transform: uppercase;    
                border-radius: 10px;                
                    
                &:hover {
                    color: #5367ff;
                    border: 1px solid #5367ff;
                    background: transparent;         
                }

                &:active {
                    transform: translateY(4px);
                    border-width: 4px;
                }
                  
                &::after {
                    content: "";
                    position: absolute;
                    top: -5px;
                    left: -3px;
                    right: -3px;
                    bottom: 1px;
                    border: 3px solid var(--background-button-mobail);
                    border-radius: 10px;
                    transition: opacity 0.5s ease, transform 0.7s ease;
                    opacity: 0;
                    pointer-events: none;
                }
                
                &:active::after {
                opacity: 1;
                transform: translateY(4px);
                }          
            }
        }
    }
}