.exchange{
    background-image: url(../assets/exchange.png);  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    width: 100%;
    height: calc(100vh - 124px); /* Высота - 124px */
    margin-top: 124px;    
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* Затемнение с полупрозрачным черным цветом */
        z-index: 1; /* Затемнение будет поверх фонового изображения */
    }

    .conatainer{
        padding: 100px 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        .exchange-section{     
            z-index: 1;       
            .title{
                color: #fff;
                font-size: 50px;
                font-weight: 600;
                line-height: 1.5;
            }

            .text{
                margin: 17px 0;
                color: #fff;
                display: block;
                font-size: 20px;
                font-weight: 400;
                word-spacing: 2px;
            }

            .coin-exchange{
                width: 30px;
                height: 40px;
            }

            .conduct-exchange{
                width: 100%;
                margin: 0 auto;
                text-decoration: none;
                color: var(--text-color);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;     
                background-color: #5367ff;           
                
                &:before {
                    content: "";
                    position: absolute;
                    top: 68px;
                    width: 0%;
                    left: 50%;
                    height: 1px;
                    background-color: #5367ff;
                    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
                    transform: translateX(-50%);
                }
                    
                &:hover {
                    color: #5367ff;
                        
                    &:before {
                        width: 100%;          
                    }
                }
            }
        }
    }
}